body {
    width: 100%;
    max width; 1024 px;
    margin: 8px;
    background-color: #999;
    font-size: 100%;
    align-items: center;
}

header,
main,
footer {
    background-color: #green;
}

#mainHeading {
    color: rgb(105, 8, 8);
}

testP.funParagraph {
    color:rgb(8, 94, 8);

}

img {
    align-items: center;
    width: 400px;
    height: auto;
}

footer {
    text-align:center;
    padding: 3em;
}
figcaption {
    font-style: italic;
}