body {
    width: 100%;
    max width; 1024 px;
    margin: 10px;
    background-color: #999;
    font-size: 100%;
    padding: 10px;
    
}

header,
main,
footer {
    background-color: #green;
   text-align: center;
}

#mainHeading {
    color: rgb(105, 8, 8);
}

testP.funParagraph {
    color:rgb(2, 47, 2);

}

img {
    text-align: center;
    width: 400px;
    height: auto;
}

footer {
    text-align:center;
    padding: 3em;
}
figcaption {
    font-style: italic;
}

#mainImg {
    width:900px;
    height: auto;
}

h1, h3 {
    text-align: center;
}
